# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/



# Logs and temporary files
*.log
*.tmp
*.out

# OS files
.DS_Store
Thumbs.db
